In [1]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension

Enabling notebook extension jupyter-js-widgets/extension...
      - Validating: ok

In [2]:
!pip install gmaps

Requirement already satisfied: gmaps in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (0.9.0)
Requirement already satisfied: ipython>=5.3.0 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from gmaps) (7.22.0)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from gmaps) (7.6.3)
Requirement already satisfied: geojson>=2.0.0 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from gmaps) (2.5.0)
Requirement already satisfied: traitlets>=4.3.0 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from gmaps) (5.0.5)
Requirement already satisfied: six in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from gmaps) (1.15.0)
Requirement already satisfied: pickleshare in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: backcall in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (0.2.0)
Requirement already satisfied: pygments in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (2.8.1)
Requirement already satisfied: jedi>=0.16 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (0.17.2)
Requirement already satisfied: decorator in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (5.0.6)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (3.0.17)
Requirement already satisfied: setuptools>=18.5 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (52.0.0.post20210125)
Requirement already satisfied: colorama in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from ipython>=5.3.0->gmaps) (0.4.4)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (1.0.0)
Requirement already satisfied: nbformat>=4.2.0 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.1.3)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (5.3.4)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: jupyter-client in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1.12)
Requirement already satisfied: tornado>=4.2 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.1)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from jedi>=0.16->ipython>=5.3.0->gmaps) (0.7.0)
Requirement already satisfied: jupyter-core in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.7.1)
Requirement already satisfied: ipython-genutils in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (20.3.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.17.3)
Requirement already satisfied: wcwidth in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.3.0)
Requirement already satisfied: pyzmq>=17 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.0.0)
Requirement already satisfied: Send2Trash>=1.5.0 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: prometheus-client in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.10.1)
Requirement already satisfied: argon2-cffi in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.1.0)
Requirement already satisfied: terminado>=0.8.3 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.9.4)
Requirement already satisfied: nbconvert in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.0.7)
Requirement already satisfied: jinja2 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.3)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.1)
Requirement already satisfied: pywin32>=1.0 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from jupyter-core->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (228)
Requirement already satisfied: pywinpty>=0.5 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.7)
Requirement already satisfied: cffi>=1.0.0 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.14.5)
Requirement already satisfied: pycparser in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from cffi>=1.0.0->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.20)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: defusedxml in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.1.2)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.3)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: bleach in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.3.0)
Requirement already satisfied: testpath in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.4.4)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.3)
Requirement already satisfied: async-generator in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.10)
Requirement already satisfied: nest-asyncio in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.1)
Requirement already satisfied: packaging in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (20.9)
Requirement already satisfied: webencodings in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\13374\anaconda3\envs\pythondata\lib\site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.4.7)

In [3]:
!jupyter nbextension enable --py --sys-prefix gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [4]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [5]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Los Llanos De Aridane,28.6585,-17.9182,62.35,83,75,11.99,ES,2021-12-08 18:44:12
1,1,Mataura,-46.1927,168.8643,52.48,94,96,0.76,NZ,2021-12-08 18:44:12
2,2,Bluff,-46.6000,168.3333,52.81,86,100,3.44,NZ,2021-12-08 18:44:13
3,3,Marmora,44.4583,7.0940,25.93,90,100,6.87,IT,2021-12-08 18:44:13
4,4,Carnarvon,-24.8667,113.6333,71.67,88,90,13.80,AU,2021-12-08 18:44:13

In [6]:
# list of columns present in the city_data_df
cols = city_data_df.columns.tolist()
cols
# Reorder the coulumns.
new_columns_order = ["City_ID", "City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]
city_data_df = city_data_df[new_columns_order]
city_data_df.head(5)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Los Llanos De Aridane,ES,2021-12-08 18:44:12,28.6585,-17.9182,62.35,83,75,11.99
1,1,Mataura,NZ,2021-12-08 18:44:12,-46.1927,168.8643,52.48,94,96,0.76
2,2,Bluff,NZ,2021-12-08 18:44:13,-46.6000,168.3333,52.81,86,100,3.44
3,3,Marmora,IT,2021-12-08 18:44:13,44.4583,7.0940,25.93,90,100,6.87
4,4,Carnarvon,AU,2021-12-08 18:44:13,-24.8667,113.6333,71.67,88,90,13.80

In [7]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [8]:
# Configure gmaps to use your Google API key.
gmaps.configure(g_key)

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
lacations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
lacations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
lacations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Hithadhoo,MV,2021-12-08 18:43:56,-0.6000,73.0833,81.86,74,98,10.47
10,10,Rikitea,PF,2021-12-08 18:44:15,-23.1203,-134.9692,75.45,68,10,20.45
14,14,Sinnamary,GF,2021-12-08 18:44:16,5.3833,-52.9500,80.31,84,100,6.80
15,15,Kapaa,US,2021-12-08 18:40:10,22.0752,-159.3190,79.12,81,75,1.99
18,18,Sena Madureira,BR,2021-12-08 18:44:17,-9.0656,-68.6569,85.03,73,100,2.71
19,19,Vao,NC,2021-12-08 18:44:17,-22.6667,167.4833,78.08,83,22,11.43
20,20,Atuona,PF,2021-12-08 18:44:17,-9.8000,-139.0333,78.22,74,7,17.87
28,28,Mahibadhoo,MV,2021-12-08 18:44:19,3.7833,72.9667,81.91,76,100,8.21
31,31,Butaritari,KI,2021-12-08 18:44:20,3.0707,172.7902,82.40,76,100,13.18
33,33,Vilhena,BR,2021-12-08 18:44:21,-12.7406,-60.1458,80.82,78,40,9.22

In [16]:
preferred_cities_df.count()

City_ID       159
City          159
Country       159
Date          159
Lat           159
Lng           159
Max Temp      159
Humidity      159
Cloudiness    159
Wind Speed    159
dtype: int64

In [17]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
7        Hithadhoo      MV     81.86  -0.6000   73.0833
10         Rikitea      PF     75.45 -23.1203 -134.9692
14       Sinnamary      GF     80.31   5.3833  -52.9500
15           Kapaa      US     79.12  22.0752 -159.3190
18  Sena Madureira      BR     85.03  -9.0656  -68.6569
19             Vao      NC     78.08 -22.6667  167.4833
20          Atuona      PF     78.22  -9.8000 -139.0333
28      Mahibadhoo      MV     81.91   3.7833   72.9667
31      Butaritari      KI     82.40   3.0707  172.7902
33         Vilhena      BR     80.82 -12.7406  -60.1458

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type":"lodging",
    "key": g_key
}

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Hithadhoo,MV,81.86,-0.6000,73.0833,Scoop Guest House
10,Rikitea,PF,75.45,-23.1203,-134.9692,People ThankYou
14,Sinnamary,GF,80.31,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
15,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
18,Sena Madureira,BR,85.03,-9.0656,-68.6569,Hotel Central
19,Vao,NC,78.08,-22.6667,167.4833,Hotel Kou-Bugny
20,Atuona,PF,78.22,-9.8000,-139.0333,Villa Enata
28,Mahibadhoo,MV,81.91,3.7833,72.9667,Omadhoo Inn
31,Butaritari,KI,82.40,3.0707,172.7902,Isles Sunset Lodge
33,Vilhena,BR,80.82,-12.7406,-60.1458,Hotel Mirage

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [24]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))